* {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
    background: #fff;
    margin: 2em;
}

header {
  width: 800px;
  min-height: 50px;
  margin: 5px auto;
}

header h1 {
	color: gray;
}

ul {
   list-style-type: none;
   margin: 20px;
}

ul li {
   padding: 5px;
}

ul li:hover {
	cursor: pointer;
}

ul li.active {
    background-color: yellow;
    
} 

img {
	width: 400px;
}

img:hover {
	cursor: pointer;
}

.cat-list{
	border: 1px solid green;
	width: 25%;
}

.cat-show {
	width: 65%;
	border: 1px solid blue;
}
