html, body {
   
}
body {
    margin: 0;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.item-1 {
  order: 1;
}

.item-2 {
  order: 2;
}

.item-3 {
  order: 3;
}

.row {
    display: flex;
}

header {
  height: 50px;
  margin: 10px;
}

input {
  display: block;
}

ul {
   list-style-type: none;
   margin: 20px;
}

ul li {
   padding: 5px;
}

ul li:hover {
	cursor: pointer;
}

ul li.active {
    background-color: yellow;
    
} 

img {
	width: 400px;
}

img:hover {
	cursor: pointer;
}

.cat-list{
	border: 1px solid green;
}

.cat {
  font-style: bold;
  color: blue;
}

.cat-show {
	border: 1px solid blue;
}
